*.vcxproj
*.vcxproj.filters
*.cmake
CMakeCache.txt
*.sln
/CMakeFiles
/src/CMakeFiles
/.vs
.user
.vs/
ALL_BUILD.vcxproj.user
src/Debug/
src/RedButton.dir/
src/RedButton.vcxproj.user
src/RedButton_autogen/
x64/

